.dot {
    display: inline-block;
    animation: bounce 1s infinite;
    animation-delay: 1s;
    opacity: 1;
    letter-spacing: 2px;
    text-align: center;
    font-size: 30px;
}
.dot:nth-of-type(2) {
    animation: bounce 1s infinite;
    animation-delay: 1.2s;
}
.dot:nth-of-type(3) {
    animation: bounce 1s infinite;
    animation-delay: 1.4s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}